.food-display {
  margin-top: 30px;
  padding: 0 5%;
}
.food-display h2 {
  font-size: max(4vw, 24px);
  font-weight: 600;
  text-align: center;
}
.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 30px;
  gap: 20px;
  row-gap: 30px;
}

.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}
.food-item-image {
  width: 100%;
  height: 30vw;
  max-height: 200px;
  border-radius: 15px 15px 0px 0px;
}
.food-item-info {
  padding: 10px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p {
  font-size: max(1vw, 18px);
  font-weight: 500;
}
.food-item-name-rating img {
  width: 50px;
}
.food-item-desc {
  color: #676767;
  font-size: max(1vw, 14px);
}
.food-item-price {
  font-size: max(1vw, 18px);
  font-weight: 500;
  color: tomato;
  margin: 10px 0px;
}
.food-item-img-container {
  position: relative;
}
.food-item-img-container .add {
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}
.food-item-counter {
  position: absolute;
  bottom: 10px;
  right: 15px;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  border-bottom: 0.5px solid rgb(133, 126, 126);
  background-color: white;
  display: flex;
}
.food-item-counter .add1 {
  width: 40px;
}

@media (max-width: 750px) {
  .food-display {
    padding: 0 20px;
  }
  .food-display-list {
    gap: 20px;
    row-gap: 20px;
  }
  .food-item-image {
    height: 40vw;
    max-height: none;
  }
  .food-item-info {
    padding: 10px;
  }
  .food-item-name-rating p {
    font-size: max(5vw, 16px);
  }
  .food-item-desc {
    font-size: max(4vw, 12px);
  }
  .food-item-price {
    font-size: max(5vw, 18px);
  }
  .food-item-img-container .add,
  .food-item-counter .add1 {
    width: 40px;
  }
}
